* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body { 
    background: url(./mainMenuBackground.png); 
    /* background: url(./mainMenuBackground.png) no-repeat center center fixed;  */
    height: 100%;
    width: 100%;
    filter: contrast(1.05);
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* NEW CODE */
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 250s linear infinite alternate;
  }

  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }



/* Custom fonts used in Halo Reach */
@font-face {
    font-family: 'conduit_itcbold';
    src: url('./webfontkit-20230527-223616/conduit_itc_bold-webfont.woff2') format('woff2'),
         url('./webfontkit-20230527-223616/conduit_itc_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'conduit_itcregular';
    src: url('./webfontkit-20230527-223616/conduit_itc_regular-webfont.woff2') format('woff2'),
         url('./webfontkit-20230527-223616/conduit_itc_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.playerRow{
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 0.5fr ;
    grid-template-rows: 0.5fr 0.5fr 3fr 1fr 1fr 1fr;
    grid-auto-rows: 0.2fr;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
    width: 100vw;
    height: 100vh;
}

.main {
    font-family: 'conduit_itcbold';
    font-style: normal;
    font-weight: 700;
    font-size: 6vw;
    line-height: 88px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.mainLine{
    display: flex;
    align-items: center;

}

.mainLine img{
    height: 120px;
    
}

.blackbox{
    grid-area: 2 / 1 / 3 / 2;
    background-color: black;
}

#myParty{
    grid-area: 1 / 1 / 2 / 3;
    background-color: black;
    padding: 20px 30px 20px 20px;
    color: white;
}

#lobbyMsg{
    background-color: #272725;
    grid-area: 2 / 2 / 3 / 4;
    padding: 20px 30px 20px 20px;
    display: flex;
    align-items: center;
    color: white;
}

#playerName{
    grid-area: 3 / 2 / 4 / 4;
    background-color: #122439;
    display: flex;
    align-items: center;
    padding: 20px 30px 20px 20px;
    color: white;

}

#playerCount{
    background-color: #272725;
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    align-items: center;
    color: rgba(143, 143, 143, 0.85);
}

.pressA{
    grid-area: 4 / 2 / 4 / 4;
    /* background-color: #5f5f5f; converted this to rgb to add opacity */
    background-color: rgba(95, 95, 95, 0.15);

    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons{
    display: flex;
    gap: 50px;

}

.footer{
    display: flex;
    flex-direction: column;
    grid-area: 5 / 2 / 6 / 3;
    gap: 20px;

}

.selectA{
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.xboxButton{
    height: 40px;
}

.menu{
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.player{
    /* Goes row-start, column-start, row-end, column-end */
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}



.desc {
    font-family: 'conduit_itcregular';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 29px;

    color: #C8C2C0;

}

.lower{
    margin-top: 30px;
}

#partyOpen{
    margin-bottom: 150px;
}

.line{
    height: 5px;
    background-color: rgba(208, 208, 208, 0.346);
    grid-area: 5 / 2 / 6 / 3;
    margin-top: 50px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

ul li{
    width: 15vw;
    list-style-type: none;
    font-family: 'conduit_itcregular';
    font-style: normal;
    font-weight: 300;
    font-size: 4vh;
    line-height: 29px;
    padding: 20px 0 20px 0;
    color: #C8C2C0;

}

.hover {
    background-color: rgba(208, 208, 208, 0.1);
    width: 35vw;
    color: white;
}


