@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #7CB3D1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navbar{
  display: grid;
  grid-template-columns: 2fr 0.5fr 8fr 0.5fr 2fr;
  grid-template-rows: 1fr;
  padding-top: 3rem;
  font-weight: 600;
}

.logo{
  grid-area: 1 / 2 / 2/ 3;
}

.project_list{
  list-style: none;
  display: flex;
  grid-area: 1 / 4 / 2 / 5;
  gap: 2rem
}

.intro{
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  gap: 1rem;
}

.intro_spacing{
  padding-top: 5rem;

}

#name{
  grid-area: 1 / 2 / 1 / 3;
  font-size: 2.5rem;
  font-weight: 600;

}

#who{
  grid-area: 2 / 2 / 2 / 3;
  font-size: 4rem;
  font-weight: 600;
}

#quote{
  grid-area: 3 / 2 / 3 / 3;
  font-size: 1.5rem;
  font-weight: 500;
  color: #616161;
}

#project_grid{
  grid-area: 2 / 2 / 2 / 3;

}

#check{
  font-size: 3.5rem;
  font-weight: 600;
  grid-area: 1 / 2 / 1 / 3;
  align-self: center;

}

.work{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.1fr 1fr;
}

.project-card{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#skill{
  font-size: 3.5rem;
  font-weight: 600;
  grid-area: 1 / 2 / 1 / 3;
  align-self: center;
}

.skill_section{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.2fr 1fr ;
}

.skill-grid{
  grid-area: 2 / 2 / 2 / 3;
}

#know{
  font-size: 3.5rem;
  font-weight: 600;
  grid-area: 1 / 2 / 1 / 3;
  align-self: center;
}

.about{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.2fr 1fr ;
}

.about-grid{
  grid-area: 2 / 2 / 2 / 3;


}

.about-card{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lang-list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-layout{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer{
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr 3fr 0.5fr;
  grid-template-rows: 1fr;
  padding-bottom: 2rem;
}

#footer_p{
  grid-area: 1 / 4 / 1/ 5 ;
}

.icon{
  width: 2rem;
}

.icon-list{
  display: flex;
  gap: 1rem;
}

.a{
  text-decoration: none;
  color: white;
  cursor: "pointer"
}